.viewResultsButton {
  margin-bottom: 12px;
  width: 100%; 
}

.results {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}

.resultsTitle {
  color: white;
  font-size: 36px;
  margin-top: 5vh;
  margin-bottom: 12px;
  text-align: center;
}

.resultsList {
  overflow: auto;
  height: calc(100vh - 435px);
}

.result {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: normal;

  .resultRow {
    text-align: left;
    margin-right: 18px;
  }

  .resultWinner {
    flex: 1;
    text-align: left;
  }

  .resultPoints {
    margin-left: 18px;
    text-align: right;
  }
}

.finalResults {
  position: absolute;
  bottom: 155px;
  left: 5vw;
  width: 90vw;
  background-color: white;
  border-radius: 8px;
}

.finalResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: normal;
  padding: 12px;
}

.closeButton {
  position: absolute;
  bottom: 100px;
  left: 5vw;
  width: 90vw;
}
