.title {
  margin-top: 12vh;
  text-align: center;
  font-size: 36px;
  color: white;
}

.image {
  margin-top: 5vh;
  text-align: center;

  img {
    width: 80vw
  }
}

.button {
  margin-top: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;

  .backButton {
    color: red;
  }
}