* {
  overflow: hidden;
}

html {
  font-family: 'Noto Sans CJK', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevents scroll */
  position: fixed;   /* Prevents iOS from auto-scrolling */
  touch-action: none; /* Optional: disables touch scroll */
}


#mahjong-root {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  padding: 12px;
  background-image: url('/src/assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  width: 40vw;
  height: 6vh;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: blue;
  position: relative;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added box-shadow for 3D effect */
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Removes the blue highlight */
  -webkit-touch-callout: none;              /* Optional: disables long press menu */
  outline: none;                            /* Removes focus ring (optional) */
  border: none;  
}

button:disabled {
  color: lightgray !important;
}
